<div class="container">
    <div id="chart" class="span100">
        <svg style="height: 360px"></svg>
    </div>
    <div id="barChart" class="span50">
        <svg style="height: 240px"></svg>
    </div>
    <div id="stackedAreaChart" class="span50">
        <svg style="height: 240px"></svg>
    </div>
</div>